{require_min_otp_vsn, "18"}.

{erl_opts, [
  debug_info,

  {platform_define, "^[0-9]+", namespaced_dicts},
  {platform_define, "^(19|2)", rand_only},
  {platform_define, "^(R|1|20)", fun_stacktrace}
 ]
}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{xref_ignores, [
    {dispatch_compiler, compile, 2},
    {dispatch_compiler, compile_load, 2},
    {dispatch_compiler, match, 3},
    {dispatch_compiler, runtime_bind, 3}
]}.
